@using AkademiPlusFinishingProject.Areas.Member.Models
@model UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<h3>Profil  Bilgileri Düzenleme Sayfası</h3>
<div class="d-flex align-items-start align-items-sm-center gap-8">
    <img src="~/UserImages/@ViewBag.userImage"
         class="d-block rounded"
         height="200"
         width="200"
         id="uploadedAvatar" />

</div>
<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız")
    <input asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input asp-for="mail" class="form-control" />
    <br />
    @Html.Label("Şifreniz")
    <input type="password" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre Onayı")
    <input type="password" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("İletişim Bilgisi")
    <input asp-for="phonenumber" class="form-control" />
    <br />
      <div class="form-group">
    <label>Bir resim seçin</label>
    <input type="file" asp-for="Image" />
    </div>
  @*  <div class="button-wrapper">
        <label for="upload" class="btn btn-primary me-2 mb-4">

            <input type="file" asp-for="Image" />
        </label>

    </div>*@
    <br />

    <button class="btn btn-outline-info">Kaydet</button>


</form>

