@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<body>
    <div class="layout-container">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Hoşgeldiniz @ViewBag.userName! 🎉</h5>
                                    <p class="mb-4">
                                        Buradan profil bilgilerinizi düzenleyebirsiniz. Mağaza sayfasına dönmek için lütfen aşağıdaki linke tıklayınız.
                                    </p>

                                    <a href="/Default/Index/" class="btn btn-sm btn-outline-primary">Mağazaya dön</a>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">
                                    <img src="~/sneat-1.0.0/assets/img/illustrations/man-with-laptop-light.png"
                                         height="140"
                                         alt="View Badge User"
                                         data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                         data-app-light-img="illustrations/man-with-laptop-light.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>Son Eklenen Bloglar</p>
    </div>
    <div class="row mb-5">
        @foreach (var x in Model)
        {
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@x.Title</h5>
                        <h6 class="card-subtitle text-muted">@(((DateTime)x.AddDate).ToString("dd-MMM-yyyy"))</h6>
                    </div>
                    <img class="img-fluid" src="@x.BlogImage" alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">@x.Description.Substring(0, x.Description.Substring(0, 50).LastIndexOf(" "))...</p>

                        <a href="/Blog/BlogDetails/@x.BLogID" class="card-link">Devamını Oku</a>
                    </div>
                </div>
            </div>
        }


    </div>
</body>